*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    height:1080px;
    position: relative;
    align-items: center;
}

#landing  {
    text-align: center;
    font-size: 3rem;
}



#time{
    width:100%;
    position: absolute;
    font-size: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background: linear-gradient(to right,#add8e6 , #d3d3d3 );
    height: 100vh;
    display:flex;
    flex-direction: column;
    color: white;
}

.location {
    font-size: .75rem;
    padding-top: 0%;
    display: flex;
    align-items: left;

}




.temperature{
    height: 30px;
    width: 50%;
    display: flex;
    align-items: center;

}

.degree-section{
    display:flex;
    align-items: center;
   
}

.degree-section span{
    margin: 1px;
    font-size: 35px;
}

.degree-section h2{
    font-size: 40px;
    
}

.temperature-description{
    text-align: left;
    font-size: 1.5rem;
    padding-left: 3.5rem; 
}

form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2 rem;
    border: none;
    background: white;
}

form button{
    color: lightblue;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: lightblue;
    color: white;
}

input.todo-input   {
    height:3.1rem;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list  {
    min-width: 27%;
    list-style: none;
}

.todo{
    background: white;
    color: black;
    font-size: 1.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease;
}


.todo li{
    flex: 1;

}

.trash-btn, .complete-btn{
    background: lightblue;
    color:white;
    border: none;
    padding: 1 rem;
    cursor: pointer;
    font-size: 1 rem;

}

.complete-btn{
    background: lightgreen;
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;

}